#results-path{
    text-align: center;
    padding-top: 10px;
    height: 100px;
    /* padding: 10px; */
}
.node-item{
    padding-left: 0;
    margin-bottom: 2px;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

#rose-map {
    border: #800000 4px solid;
    position: absolute;
    right: 250px;
}

#idCanvas {
    position: absolute;
    right: 250px;
    z-index: 10;
    pointer-events: none;
}

i, .nav-link {
    color: white !important;
}

.navbar{
    background-color: #800000
}

::marker{
    color: #800000;
}

.header_col{
    padding: 3px;
}

a.nav-link{
    padding-left: 15px !important;
    padding-right: 15px  !important;
}